//
//  Config-dev.xcconfig
//  MXApp
//
//  Created by 华峰 on 2021/12/10.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-MXApp/Pods-MXApp.debug.xcconfig"

MXHostType = 1

MXAPPICON_NAME = AppIcon-test
